<section class="about-section section" id="about-the-game">
  <div class="about-main-container container">
    <h2 class="about-title">About the Game</h2>
    <div class="about-main-content">
      <p class="about-desc">
        Farm Sort Puzzle is a relaxing and challenging puzzle game where players
        must sort and organize items on a vibrant farm. The goal is to clear
        each level by sorting items into their correct locations. As you
        progress, puzzles become more difficult, introducing new farm-related
        items and obstacles that require careful planning and strategic
        thinking. Perfect for puzzle enthusiasts and casual gamers alike, Farm
        Sort Puzzle offers an engaging experience for all ages.
      </p>
      <div class="about-image">
        <img
          src="./img/about/about.png"
          srcset="./img/about/about.png, ./img/about/about@2x.png"
          alt="Farm Sort Puzzle Image"
        />
      </div>
    </div>
  </div>
</section>
