<section class="features-section section" id="features">
  <div class="features-main-container container">
    <h2 class="features-main-title">Features</h2>
    <ul class="features-list">
      <li>
        <svg class="features-icons" width="24" height="24">
          <use xlink:href="./img/sprite.svg#icon-icon1" />
        </svg>
        <div>
          <h4 class="features-title">Simple Yet Addictive Gameplay</h4>
          <p class="features-desc">
            Enjoy hours of fun with easy-to-learn gameplay that keeps you coming
            back for more.
          </p>
        </div>
      </li>
      <li>
        <svg class="features-icons" width="24" height="24">
          <use xlink:href="./img/sprite.svg#icon-icon2" />
        </svg>
        <div>
          <h4 class="features-title">Challenging Puzzles</h4>
          <p class="features-desc">
            Overcome tricky farm-themed puzzles that get more complex with each
            level.
          </p>
        </div>
      </li>
      <li>
        <svg class="features-icons" width="24" height="24">
          <use xlink:href="./img/sprite.svg#icon-icon3" />
        </svg>
        <div>
          <h4 class="features-title">Relaxing Farm Theme</h4>
          <p class="features-desc">
            Beautifully designed farm items and backgrounds create a calming and
            enjoyable experience.
          </p>
        </div>
      </li>
      <li>
        <svg class="features-icons" width="24" height="24">
          <use xlink:href="./img/sprite.svg#icon-icon4" />
        </svg>
        <div>
          <h4 class="features-title">Endless Levels</h4>
          <p class="features-desc">
            With hundreds of puzzles, there’s always a new challenge waiting for
            you.
          </p>
        </div>
      </li>
      <li>
        <svg class="features-icons" width="24" height="24">
          <use xlink:href="./img/sprite.svg#icon-icon5" />
        </svg>
        <div>
          <h4 class="features-title">Regular Updates</h4>
          <p class="features-desc">
            New puzzles and levels are added frequently to keep the gameplay
            fresh and exciting.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
