<header class="header-container">
  <nav class="nav-container">
    <a href="" class="link-logo">
      <img
        class="logo"
        src="../img/header/logo.jpg"
        srcset="../img/header/logo.jpg 1x, ../img/header/logo@2x.jpg 2x"
        alt="Farm Sort Puzzle Logo"
      />Farm Sort Puzzle
    </a>
    <div class="burger-container" id="burgerMenu">
      <div class="burger-pice"></div>
      <div class="burger-pice"></div>
      <div class="burger-pice"></div>
    </div>

    <div class="backdrop" id="backdrop">
      <ul class="mobil-list" id="mobileMenu">
        <li><a href="#home" class="nav-link">Home</a></li>
        <li><a href="#gallery" class="nav-link">Gallery</a></li>
        <li><a href="#faq" class="nav-link">FAQ</a></li>
        <li><a href="#how-to-play" class="nav-link">How to Play</a></li>
        <li><a href="about-the-game" class="nav-link">About the Game</a></li>
        <li><a href="#features" class="nav-link">Features</a></li>
      </ul>
    </div>
    <ul class="list">
      <li><a href="#home" class="nav-link">Home</a></li>
      <li><a href="#gallery" class="nav-link">Gallery</a></li>
      <li><a href="#faq" class="nav-link">FAQ</a></li>
      <li><a href="#how-to-play" class="nav-link">How to Play</a></li>
      <li><a href="about-the-game" class="nav-link">About the Game</a></li>
      <li><a href="#features" class="nav-link">Features</a></li>
    </ul>
  </nav>
</header>
