<section class="bg-image" id="home">
  <div class="hero-container container">
    <div class="desc-container">
      <h1 class="hero-title">Farm Sort Puzzle</h1>
      <p class="hero-desc">
        "Sort the Farm, Solve the Puzzle! A fun, relaxing adventure awaits in
        Farm Sort Puzzle!"
      </p>
    </div>
    <a
      class="google-link"
      href="https://play.google.com/store/apps/details?id=com.farm.sort"
      target="_blank"
      rel="noopener"
      ><img src="../img/header/google.svg" alt="google link" />
      <span class="get-it"
        >get it on<span class="google-play">Google Play</span></span
      ></a
    >
  </div>
</section>
