<section class="section" id="how-to-play">
    <div class="container">
        <div class="play-container">
            <h2 class="play-title">How to Play</h2>
            <div class="arrow-container">
                <button class="button-pre" type="button" aria-label="Previous comment">
                    <svg class="arrow-swiper" width="24" height="24">
                        <use xlink:href="./img/sprite.svg#icon-left" />
                    </svg>
                </button>

                <button class="button-nex" type="button" aria-label="Next comment">
                    <svg class="arrow-swiper" width="24" height="24">
                        <use xlink:href="./img/sprite.svg#icon-right" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper swiper-box">
            <ul class="play-list swiper-wrapper">
                <li class="play-item swiper-slide">
                    <div class="play-box">
                        <p class="play-item-text">Move items to their proper locations in each level by following the
                            game's
                            instructions.</p>
                        <div class="play-box-up">
                            <p class="play-item-up">Sort the Items</p>
                            <svg class="icon-up">
                                <use href="./img/sprite.svg#icon-01"></use>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="play-item-two swiper-slide">
                    <div class="play-box">
                        <p class="play-item-text">Successfully match and organize the items to clear the puzzle within a
                            set
                            number of moves.</p>
                        <div class="play-box-up">
                            <p class="play-item-up">Complete the Puzzle</p>
                            <svg class="icon-up-next">
                                <use href="./img/sprite.svg#icon-02"></use>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="play-item-three swiper-slide">
                    <div class="play-box">
                        <p class="play-item-text">Unlock rewards and new levels by collecting stars from completed
                            puzzles.
                        </p>
                        <div class="play-box-up">
                            <p class="play-item-up">Earn Stars</p>
                            <svg class="icon-up-next">
                                <use href="./img/sprite.svg#icon-03"></use>
                            </svg>
                        </div>
                    </div>
                </li>
                <li class="play-item-four swiper-slide">
                    <div class="play-box">
                        <p class="play-item-text">As the game progresses, face increasingly difficult puzzles and
                            obstacles
                            that require strategic sorting and planning.</p>
                        <div class="play-box-up">
                            <p class="play-item-up">Progress and Challenge Yourself</p>
                            <svg class="icon-up-next">
                                <use href="./img/sprite.svg#icon-04"></use>
                            </svg>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>