.about-section {
  background-image: url(../img/puzzle/orange.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: top 16px right 34px;
  @include media(desktop) {
    background-image: none;
  }
}
//main container
.about-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;

  @include media(desktop) {
    // TODO check it maybe better to change to static size
    max-width: 100%;
    gap: 40px;
  }
}

//description container
.about-main-content {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include media(desktop) {
    border: 1px solid $_border_accent;
    background-color: $_white_color;
    border-radius: 8px;
    height: 356px;
    width: 1084px;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 16px;
    gap: 8px;
  }
}

.about-title {
  font-family: 'Solway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  @include media(desktop) {
    font-size: 32px;
    line-height: 1.25;
  }
}

.about-desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.33333;
  }
}
