.features-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
  max-width: 1200px;

  @include media(desktop) {
    padding-bottom: 40px;
    background-image: url(../img/puzzle/green.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: bottom 120px left 100px;
  }
}

@media screen and (min-resolution: 2dppx) {
  @include media(desktop) {
    .features-main-container {
      background-image: url(../img/puzzle/green@2x.png);
    }
  }
}

.features-main-title {
  font-family: 'Solway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  @include media(desktop) {
    line-height: 1.25;
    font-size: 32px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    gap: 68px;
  }
}

.features-list li {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 284px;
  height: 138px;
  padding: 8px;
  justify-content: space-between;

  @include media(desktop) {
    width: 316px;
    height: 206px;
    align-items: flex-start;
    padding: 16px;
  }
}

.features-title {
  font-family: 'Solway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  @include media(desktop) {
    font-size: 20px;
  }
}

.features-desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  @include media(desktop) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.features-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;

  @include media(desktop) {
    padding: 8px;
  }
}

.features-desc-container {
  display: flex;
  flex-direction: column;
  gap: 4;

  @include media(desktop) {
    gap: 8px;
  }
}
