.footer {
  width: 100%;
  height: 160px;
  background: #5d8230;
}
.footer-nav {
  padding-top: 20px;
}
.footer-list {
  margin-bottom: 20px;
}
.footer-item {
  font-size: 12px;
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-bottom: 4px;
}
.footer-link {
  padding: 2px;
}
.footer-p {
  font-size: 12px;
  line-height: 1.33333;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 188px;
  }
  .footer-nav {
    padding-top: 40px;
  }
  .footer-list {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .footer-item {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0;
  }
  .footer-p {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 0;
    text-align: none;
    padding-top: 40px;
  }
  .footer-link {
    padding: 4px;
  }
  .footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;
  }
}
