body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #141414;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Solway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #141414;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 29px;
    padding-right: 29px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
