// section
.bg-image {
  position: relative;
  height: 380px;
  padding-top: 80px;
  padding-bottom: 48px;
  background-image: url(../img/header/heroMobil.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  background-position: center, top right;

  width: 320px;
  margin: 0 auto;

  @include media(desktop) {
    padding-top: 180px;
    height: 800px;
    width: 1200px;
    background-image: url(../img/header/header.jpg);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media screen and (min-resolution: 2dppx) {
  .bg-image {
    background-image: url(../img/header/heroMobil@2x.png);

    @include media(desktop) {
      background-image: url(../img/header/header@2x.jpg);
    }
  }
}
.windmill {
  @include media(desktop) {
    position: absolute;
    background-image: url(../img/wind.svg);
    animation: rotateWindmill 3s linear infinite;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    z-index: 1;
    top: 54.3%;
    left: 71.4%;
    transform-origin: center;
  }
}

@keyframes rotateWindmill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}

// main container
.hero-container.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 268px;
  gap: 8px;
  margin: 0;

  @include media(desktop) {
    width: 1084px;
    justify-content: flex-start;
    height: 188px;
  }
}

//title and desc
.desc-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  min-width: 268px;
  height: 100%;
  justify-content: space-between;

  @include media(desktop) {
    width: 100%;
    flex-direction: row;
    align-items: flex-end;
  }
}

.hero-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33333;

  @include media(desktop) {
    font-weight: 500;
    font-size: 64px;
  }
}

.hero-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;

  @include media(desktop) {
    font-weight: 400;
    font-size: 24px;
    width: 532px;
  }
}

//google link
.google-link {
  width: 166px;
  height: 48px;
  background-color: white;
  border-radius: 8px;
  padding: 6px 10px;
  display: flex;
  gap: 2px;
  transition: border 0.3s ease;

  &:hover {
    border: 1px solid #141414;
  }

  @include media(desktop) {
  }
}

@supports (-webkit-touch-callout: none) {
  .google-link {
    width: 170px;
    padding: 6px 4px;
  }
}

.get-it {
  font-family: 'Poppins', sans-serif;

  font-size: 10px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}

.google-play {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}
