.pl-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.play-container {
  @include media(desktop) {
    background-image: url(../img/puzzle/orange.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: bottom 0% right 0%;
  }
}

@media screen and (min-resolution: 2dppx) {
  @include media(desktop) {
    .play-container {
      background-image: url(../img/puzzle/orange@2x.png);
    }
  }
}

.swiper.swiper-box {
  width: 100%;
  max-width: 284px;
  z-index: 0;
  height: 100%;
  //   overflow: visible;
}

.button-pre,
.button-nex {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid $_main_color;
  background-color: transparent;
  border-radius: 2px;
}

.swiper-slide-virtual {
  //   opacity: 0;
  pointer-events: none;
}

.play-list.swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 1;
}
.play-item.swiper-slide {
  display: flex;
  align-items: flex-end;
  border-radius: 110px;
  padding: 8px 10px;
  width: 200px !important;
  margin-right: 0 !important;
  height: 350px;
  background: #89caba;
}

.play-item-two.swiper-slide {
  display: flex;
  align-items: flex-end;
  border-radius: 110px;
  padding: 8px 10px;
  width: 200px !important;
  margin-right: 0 !important;
  height: 350px;
  background: #fff788;
}
.play-item-three.swiper-slide {
  display: flex;
  align-items: flex-end;
  border-radius: 110px;
  padding: 8px 10px;
  width: 200px !important;
  margin-right: 0 !important;
  height: 350px;
  background: #a9c562;
}
.play-item-four.swiper-slide {
  display: flex;
  align-items: flex-end;
  border-radius: 110px;
  padding: 8px 10px;
  width: 200px !important;
  margin-right: 0 !important;
  height: 350px;
  background: #f2a7c0;
}

.play-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 180px;
  height: 280px;
}
.play-box-up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 100px;
  padding: 20px;
  width: 180px;
  height: 180px;
  background: #fff;
}
.play-item-up {
  font-family: 'Solway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
.icon-up {
  width: 78px;
  height: 58px;
}
.icon-up-next {
  width: 90px;
  height: 58px;
}

@media screen and (min-width: 1200px) {
  .pl-container {
    margin-bottom: 40px;
  }
  .swiper.swiper-box {
    max-width: 1084px;
    height: 640px;
  }

  .play-list.swiper-wrapper li:nth-child(odd) {
    margin-top: auto;
  }

  .play-list.swiper-wrapper li:nth-child(even) {
    margin-bottom: auto;
  }

  .play-title {
    font-size: 32px;
    line-height: 1.25;
  }
  .arrow-container {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .play-item.swiper-slide,
  .play-item-two.swiper-slide,
  .play-item-three.swiper-slide,
  .play-item-four.swiper-slide {
    border-radius: 140px;
    padding: 8px;
    width: 256px !important;
    height: 440px;
  }

  .play-item-two.swiper-slide,
  .play-item-four.swiper-slide {
    display: block;
  }

  .play-item-text {
    font-size: 16px;
    line-height: 1.25;
    padding: 0 19px;
  }
  .play-box {
    width: 240px;
    height: 372px;
  }
  .play-item-two .play-box,
  .play-item-four .play-box {
    display: flex;
    flex-direction: column-reverse;
  }

  .play-box-up {
    border-radius: 120px;
    padding: 38px;
    width: 240px;
    height: 240px;
    // gap: 72px;
  }
  .play-item-up {
    font-size: 20px;
    line-height: 1.2;
  }
  .icon-up {
    width: 90px;
    height: 68px;
  }
  .icon-up-next {
    width: 112px;
    height: 68px;
  }
}
